* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;

}

.row {
    display: flex;
/*     flex-direction: row; */
    flex-wrap: wrap;
    width: 80vmin;
    height: 80vmin;
}

.silver {
    flex: 0 0 auto;
    width: 12.5%;
    height: 12.5%;
    background-color: silver;
    border: 0.05em solid  white;
}
.grey {
    flex: 0 0 auto;
    width: 12.5%;
    height: 12.5%;
    background-color: grey;
    border: 0.05em solid white;
}