*  {
    box-sizing: border-box;
}
{}
html {
    font-family: sans-serif;
    /* font-size: 18px; 90 divided by 15 */
}
body {
    margin: 0;
    background-image: url('grid.png'); 
    height: 100vh;
}
.boxik {
    display: block;
    height: 3rem;
    background-image: url('freeman-portrait.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; /* background stays fix and you scroll over it */
}
