@import 'header.scss';
@import 'variables.scss';

body {
    color: $red;
    font-family:'Trebuchet MS'; 
}



h1 {
    background-color: lightblue;
    border-bottom: 1px solid $red;
    size: $size;
}
h3 {
    font: $font;
    font-size: 2 *  $font_size + $menu_size;
    color: $lighterblue;
}

footer {
    color: $footer_font_color;
}
