body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}
.flex {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.flex div {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
button {
    position: absolute;
    top: 200px;
}

.img1 {
    background-image: url('sides/side1.png');
}

.img2 {
    background-image: url('sides/side2.png');
}

.img3 {
    background-image: url('sides/side3.png');
}

.img4 {
    background-image: url('sides/side4.png');
}

.img5 {
    background-image: url('sides/side5.png');
}

.img6 {
    background-image: url('sides/side6.png');

}