* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    background-image: url('/img/coffee-photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* could be replaced with only background: */
    min-height: 100vh; /* !!!!! */

    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:768px) {
        font-size: 0.5em;
    }
}

main {
    padding: 2em;
    max-width: 400px;
    background-color: rgba(0, 0,0, 0.5);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h1 {
        font-size: 3em;
    }

    p {
        line-height: 1.5em;
        text-align: center;
    }

    button {
        font-size: 1.3em;
        line-height: 2em;
        background-color: rgb(155, 21, 21);
        color: white;
        border-radius: 5%;
        padding: 1.5em;
        margin: 0.5em;
    }

    @media screen and (max-width:768px) {
        background-color: transparent;
         }
}


/* div {
    font-size: 1.5em;
    flex-wrap: wrap;
    padding: 2em;
    opacity: 0.8;

}
}

@media screen and (max-width:768px) {
    div {
        background-color: transparent;
        
    }
} */









