* {
    box-sizing: border-box;
}


html {
    color: white;
    font-size: 24px;
}
body {
    background-image: url('library.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.flex {
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.bookshelf {
    min-height: 20vh;
    font-size:16px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: start;
}

.form {
    font-size:12px;
    display:flex;
    flex-direction: column;
    max-width: 20vw;
    padding: 1rem;
    text-align: left;
}
