.banner {
    background-image: url('/img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 70vh;
}