.galleryicons {
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    height: 20em;
    
}

.gallerypic {
    background-image: url('/img/gallery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}